*, *:before, *:after {
  box-sizing: border-box;
}

.clock {
  border: 1px solid #888;
  margin: 1em;
  padding: 1em;
}

.clock input {
  display: block;
  margin: 1rem 0;
}

.clock pre {
  background-color: inherit;
}
